nav {
    background: rgba(44, 62, 80, 1);
    padding: 5px;
    width: 100%;
}

nav h2 {
    color: #fff;
    transition: all .5s ease;
}

nav h2:hover {
    color: rgb(1,172,227);
    transition: all .5s ease;
    cursor: pointer;
}

@media screen and (max-width: 275px) {
    nav h2 {
        font-size: 20px;
    }
}